*.DS_Store

*.[Oo]bj
*.[Cc]ache
*.user
*.suo
*.bak
*.ncb
*.log
*.log.*
*.vssscc
*.vspscc
_ReSharper*

[Oo]bj/
[Bb]in/
[Dd]ebug*/
[Rr]elease*/

TestResults

publish

*.Publish.xml

packages

[Bb]in
[Oo]bj

App_Data
AppData

Logs/
.vs/
Backup/
UpgradeLog.htm
